@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer components {
	.custombg {
		background-color: #e5e5f7;
		opacity: 1;
		background-size: 11px 11px;
		background-image: repeating-linear-gradient(
			-45deg,
			#00000067 0,
			#00000063 1.1px,
			#e5e5f7 0,
			#e5e5f7 50%
		);
	}

	.custombg-blocks {
		background-image: url("../public/assets/fondo cubos.webp");
		background-size: cover;
	}

	.custombg-wave {
		background-image: url("../public/assets/wave-haikei.png");
		background-size: cover;
		background-position: bottom;
	}
}
